<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/usersheet.css">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My dashboard</title>
    <style>
        header,
        main,
        footer,
        .content {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer,
            .content {
                padding-left: 0;
            }
        }

        .side-nav .user-view .circle,
        .side-nav .userView .circle {

            margin-left: 25%;
        }
    </style>
</head>

<body>
    <nav class="black">
        <div class="nav wrapper">
            <div class="container">
                <a href="" class="button-collapse show-on-large" data-activates="sidenav"><i
                        class="material-icons">menu</i></a>
                <ul class="right collection hide-on-small-and-down" style="margin:0px;
          border: 0px solid transparent">

                </ul>
            </div>
        </div>
    </nav>

    <ul class="side-nav fixed" id="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="" alt="" class="responsive-img">
                </div>
                <a href="">
                    <img src="/images/avatar.png" alt="" class="circle">
                </a>
                <span class="white-text name">AUTHORIZED ADMIN PANEL</span>
                <br>
            </div>
        </li>

        <div class="divider"></div>
        <li>
            <a href="/admin"><i class="fa fa-home fa-2x white-text" aria-hidden="true"></i>
                <div class="side_text">Home</div>
            </a>
        </li>
        
        <div class="divider"></div>
        <li>
            <a href="#"><i class="fa fa-sign-out white-text fa-2x"></i>
                <div class="side_text">Logout</div>
            </a>
        </li>
        </div>
    </ul>
    <div class="div_create card blue-white darken-1">
        <div class="row">
            <form class="col s12">
              <h5>DATA OF MR. <%= data.full_name %></h5>
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" name="fullname" value="<%= data.full_name %>" readonly>
                </div>
                <div class="input-field col s6">
                  <input type="text" name="scholar" value="<%= data.scholar %>" readonly>
                </div>
              </div>
              <div class="row">
                <input type="text" name="enrol" value="<%= data.enr %>" readonly>
              </div>
              <div class="row">
                <input type="text" name="phone" value="<%= data.phone %>" readonly>
              </div>
            </form>
          </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav();
        });
    </script>
</body>

</html>